<div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex.gt-lg="75" fxFlex.gt-md="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Mensagens</mat-card-title>
                <mat-card-subtitle>Todas as mensagens enviadas para você</mat-card-subtitle>
                <mat-table #table [dataSource]="dataSource" class="contactlist">
                    <ng-container matColumnDef="position">
                        <mat-header-cell *matHeaderCellDef> Foto </mat-header-cell>
                        <mat-cell *matCellDef="let element"> <img src="{{element.position}}" class="img-circle" width="30" /></mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <h5 class="m-0">{{element.name}}</h5>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="titulo">
                        <mat-header-cell *matHeaderCellDef> titulo </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.titulo}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="dataHora">
                        <mat-header-cell *matHeaderCellDef> dataHora </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.dataHora}} </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20, 50]">
                </mat-paginator>
            </mat-card-content>
        </mat-card>
    </div>
</div>
