<div class="login-register">
    <div class="login-register-box">
        <mat-card>
            <mat-card-content>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="text-center"><img alt="homepage" src="assets/images/mini_mala.png">
                        <h4 class="m-t-0">Entrar</h4>
                        <h6 class="m-t-0">Faça login para continuar</h6>
                    </div>
                    <div fxLayout="row" fxLayoutWrap="wrap">
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <mat-form-field>
                                <input matInput placeholder="Login" [formControl]="form.controls['uname']">
                            </mat-form-field>
                            <small *ngIf="form.controls['uname'].hasError('required') && form.controls['uname'].touched" class="text-danger support-text">Login é obrigatório.</small>
                            <mat-form-field>
                                <input matInput type="password" placeholder="Senha" [formControl]="form.controls['password']">
                            </mat-form-field>
                            <small *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="text-danger support-text">Senha é obrigatório.</small>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutWrap="wrap">
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100">
                            <mat-checkbox color="warn">Lembrar</mat-checkbox>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutWrap="wrap">
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" class="text-right">
                            <a [routerLink]="['/authentication/esqueceu-senha']" class="link">Esqueceu a senha ?</a>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutWrap="wrap">
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <button mat-raised-button color="accent" class="btn-block btn-lg m-t-20 m-b-20" type="submit" [disabled]="!form.valid">Login</button>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutWrap="wrap">
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <button mat-raised-button color="primary" class="btn-block btn-lg m-t-20 m-b-20" type="button">Login with Facebook</button>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutWrap="wrap">
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <button mat-raised-button color="warn" class="btn-block btn-lg m-t-20 m-b-20" type="button">Login with Google +</button>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayoutWrap="wrap">
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="text-center">
                            <span>Não é cadastrado, <a [routerLink]="['/authentication/register']"  class="text-info link">clique aqui</a> </span>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
