.saleschart {
    width: 100%;
}

.contactlist .mat-row {
    padding: 10px 15px;
}

.viagens {
    background-color: #727b84;
    color: rgba(255, 255, 255, 255);
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
}

.seguros {
    background-color: #7460ee;
    color: rgba(255, 255, 255, 255);
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: bold;
}
