<div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div class="d-flex no-block">
                    <div class="m-r-10 no-shrink">
                        <button mat-fab mat-card-icon class="shadow-none bg-inverse  bg-success">
                      <mat-icon>account_circle</mat-icon>
                  </button>
                    </div>
                    <div>
                        <h3 class="m-0">30</h3>
                        <h6 class="text-muted m-0">Novos clientes</h6>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div class="d-flex no-block">
                    <div class="m-r-10 no-shrink">
                        <button mat-fab color="warn" mat-card-icon class="shadow-none  bg-warning">
                      <mat-icon>local_mall</mat-icon>
                  </button>
                    </div>
                    <div>
                        <h3 class="m-0">2408</h3>
                        <h6 class="text-muted m-0">Novas vendas</h6>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div class="d-flex no-block">
                    <div class="m-r-10 no-shrink">
                        <button mat-fab color="accent" mat-card-icon class="shadow-none">
                      <mat-icon>stars</mat-icon>
                  </button>
                    </div>
                    <div>
                        <h3 class="m-0">150</h3>
                        <h6 class="text-muted m-0">Novas localidades</h6>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-sm="25" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div class="d-flex no-block">
                    <div class="m-r-10 no-shrink">
                        <button mat-fab color="warn" mat-card-icon class="shadow-none bg-danger">
                      <mat-icon>content_paste</mat-icon>
                  </button>
                    </div>
                    <div>
                        <h3 class="m-0">159</h3>
                        <h6 class="text-muted m-0">Novos questionários</h6>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- Column-->
    <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Visão geral de vendas</mat-card-title>
                <mat-card-subtitle>Orçamentos x vendas</mat-card-subtitle>
                <div class="barchrt" style="height:360px;">
                    <x-chartist class="" [data]="barChart1.data" [type]="barChart1.type" [options]="barChart1.options" [responsiveOptions]="barChart1.responsiveOptions" [events]="barChart1.events"> </x-chartist>
                </div>
                <ul class="list-inline text-center">
                    <li>
                        <h6 class="text-muted text-success m-0"><i class="fa fa-circle font-10 m-r-10 "></i>Ample</h6>
                    </li>
                    <li>
                        <h6 class="text-muted  text-info  m-0"><i class="fa fa-circle font-10 m-r-10"></i>Pixel</h6>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Nossos visitantes</mat-card-title>
                <mat-card-subtitle>Diferentes dispositivos usados para visitar</mat-card-subtitle>
                <div class="piechart">
                    <x-chartist class="" [data]="donuteChart1.data" [type]="donuteChart1.type" [options]="donuteChart1.options" [responsiveOptions]="donuteChart1.responsiveOptions" [events]="donuteChart1.events"> </x-chartist>
                </div>
            </mat-card-content>
            <hr>
            <mat-card-content>
                <ul class="list-inline text-center">
                    <li>
                        <h6 class="text-muted text-success m-0"><i class="fa fa-circle font-10 m-r-10 "></i>Mobile</h6>
                    </li>
                    <li>
                        <h6 class="text-muted  text-info  m-0"><i class="fa fa-circle font-10 m-r-10"></i>Desktop</h6>
                    </li>
                    <li>
                        <h6 class="text-muted  text-purple  m-0"><i class="fa fa-circle font-10 m-r-10"></i>Tablet</h6>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="bg-info">
            <mat-card-content>
                <div class="d-flex no-block align-items-center">
                    <div class="stats">
                        <h3 class="text-white m-0">Compra</h3>
                        <h6 class="text-white m-t-0">Abril 2020</h6>
                        <h1 class="text-white m-0">557</h1>
                    </div>
                    <div class="spark-count ml-auto"></div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="bg-purple">
            <mat-card-content>
                <div class="d-flex no-block align-items-center">
                    <div class="stats">
                        <h3 class="text-white m-0">Despesa</h3>
                        <h6 class="text-white m-t-0">Abril 2020</h6>
                        <h1 class="text-white m-0">290</h1>
                    </div>
                    <div class="spark-count ml-auto"></div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-sm="33.33" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="bg-success">
            <mat-card-content>
                <!-- column -->
                <div class="d-flex no-block align-items-center">
                    <div class="stats">
                        <h3 class="text-white m-0">Renda</h3>
                        <h6 class="text-white m-t-0">Abril 2020</h6>
                        <h1 class="text-white m-0">267</h1>
                    </div>
                    <div class="spark-count ml-auto"></div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<!-- ============================================================== -->
<!-- Image and chart -->
<!-- ============================================================== -->
<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- Column-->
    <div fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="oh">
            <img mat-card-image src="assets/images/big/img1.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    O Shiba Inu é a menor das seis raças de spitz originais e distintas do Japão. Um cão pequeno e ágil que lida muito bem com terrenos montanhosos.
                </p>
                <mat-card-actions>
                    <button mat-raised-button color="accent">Gostei</button>
                    <button mat-button>Compartilhar</button>
                </mat-card-actions>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <mat-card-title>Campanha Newsletter</mat-card-title>
                <mat-card-subtitle>Visão geral da campanha da Newsletter</mat-card-subtitle>
                <div class="linearea" style="height:360px;">
                    <x-chartist class="" [data]="lineChart1.data" [type]="lineChart1.type" [options]="lineChart1.options" [responsiveOptions]="lineChart1.responsiveOptions" [events]="lineChart1.events"> </x-chartist>
                </div>
                <ul class="list-inline text-center p-t-10">
                    <li>
                        <h6 class="text-muted text-success m-0"><i class="fa fa-circle font-10 m-r-10 "></i>Enviadas</h6>
                    </li>
                    <li>
                        <h6 class="text-muted  text-info  m-0"><i class="fa fa-circle font-10 m-r-10"></i>Clicada</h6>
                    </li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div fxLayout="row" fxLayoutWrap="wrap">
    <!-- Card column -->
    <div fxFlex.gt-lg="25" fxFlex.gt-md="40" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card class="oh text-center little-profile">
            <img mat-card-image src="assets/images/background/profile-bg.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <div class="pro-img"><img src="assets/images/users/4.jpg" width="100" alt="user"></div>
                <h3 class="m-b-0">Guilherme Costa Lopes</h3>
                <h6 class="m-t-0 ">Web Designer &amp; Developer</h6>
                <mat-card-actions>
                    <button mat-raised-button color="warn">Seguir</button>
                </mat-card-actions>
                <div fxLayout="row" fxLayoutWrap="wrap" class="m-t-30">
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                        <h3 class="m-0 font-light">200</h3>
                        <small>Viagens</small>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                        <h3 class="m-0 font-light">200</h3>
                        <small>Viagens com seguro</small>
                    </div>
                    <div fxFlex.gt-sm="33.33%" fxFlex.gt-xs="33.33%" fxFlex="100">
                        <h3 class="m-0 font-light">500</h3>
                        <small>Aprimoramento no sistema</small>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div fxFlex.gt-lg="75" fxFlex.gt-md="60" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-tab-group>
                <mat-tab label="Atividade">
                    <mat-card-content>
                        <div class="d-flex no-blcok" *ngFor="let mytimeline of mytimelines">
                            <div class="m-r-20"><img class="img-circle" width="50" [src]="mytimeline.image" alt="Image of {{mytimeline.from}}"> </div>
                            <div class="p-b-20 b-b m-b-30">
                                <h4 class="m-0">{{mytimeline.from}} <small class="text-muted">{{mytimeline.time}}</small></h4>
                                <p class="text-muted">{{mytimeline.content}}</p>
                                <div fxLayout="row" fxLayoutWrap="wrap">
                                    <div fxFlex.gt-sm="20" fxFlex="100">
                                        <img class="img-responsive rounded" [src]="mytimeline.attachment" *ngIf="mytimeline.attachment" alt="Image of {{mytimeline.attachment}}">
                                    </div>
                                </div>
                                <button mat-raised-button color="{{mytimeline.buttons}}" *ngIf="mytimeline.buttons">Check Now</button>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-tab>
                <mat-tab label="Perfil">
                    <mat-card-content>
                        <mat-card-title>Form Basic Layouts</mat-card-title>
                        <form class="basic-form">
                            <div fxLayout="row" fxLayoutWrap="wrap">
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <mat-form-field>
                                        <input matInput placeholder="Some text value">
                                    </mat-form-field>
                                </div>
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <mat-form-field>
                                        <input matInput placeholder="EmailId" type="email">
                                    </mat-form-field>
                                </div>
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <mat-form-field>
                                        <input matInput placeholder="Password" type="password">
                                    </mat-form-field>
                                </div>
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <mat-form-field>
                                        <mat-select placeholder="Select">
                                            <mat-option value="option">Option</mat-option>
                                            <mat-option value="option">Option2</mat-option>
                                            <mat-option value="option">Option3</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <mat-form-field>
                                        <textarea matInput placeholder="Textarea"></textarea>
                                    </mat-form-field>
                                </div>
                                <div fxFlex.gt-sm="100" fxFlex="100">
                                    <button mat-raised-button color="primary">Update Profile</button>
                                </div>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-tab>
            </mat-tab-group>
        </mat-card>
    </div>
</div>