<div class="main-container" [dir]="dir" [ngClass]="{'minisidebar': minisidebar, 'boxed': boxed, 'danger': danger, 'blue': blue, 'green': green, 'dark': dark, 'sidebar-opened': sidebarOpened, 'sidebar-closed': !sidebarOpened }">
    <mat-toolbar color="primary" class="topbar telative">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
                <b>
                  <img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo">
                  <img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo">
              </b>
                <span fxShow="false" fxShow.gt-xs>

               <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo">

               <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage">
              </span> </a>
        </div>
        <form class="app-search">
            <input type="text" class="form-control" placeholder="Search &amp; enter">
            <a class="cl-srh-btn"><i class="ti-close"></i></a>
        </form>
        <span fxFlex></span>
        <app-header></app-header>

    </mat-toolbar>
    <mat-sidenav-container>
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>
        <mat-sidenav-content class="page-wrapper">
            <perfect-scrollbar [config]="config">
                <div class="page-content">
                    <router-outlet></router-outlet>
                </div>
            </perfect-scrollbar>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
