<div class="main-container" [dir]="dir" [ngClass]="{'minisidebar': minisidebar, 'boxed': boxed, 'danger': danger, 'blue': blue, 'green': green, 'dark': dark, 'sidebar-opened': sidebarOpened, 'sidebar-closed': !sidebarOpened }">
    <mat-toolbar color="primary" class="topbar telative">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
                <b>
                  <img src="assets/images/logo-icon.png" alt="homepage" class="dark-logo">
                  <img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo">
              </b>
                <span fxShow="false" fxShow.gt-xs>

               <img src="assets/images/logo-text.png" alt="homepage" class="dark-logo">

               <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage">
              </span> </a>
        </div>
        <button mat-icon-button (click)="snav.toggle()" value="sidebarclosed">
          <mat-icon>menu</mat-icon>
      </button>
        <button mat-icon-button class="srh-btn">
          <mat-icon>search</mat-icon>
      </button>
        <form class="app-search">
            <input type="text" class="form-control" placeholder="Search &amp; enter">
            <a class="cl-srh-btn"><i class="ti-close"></i></a>
        </form>
        <span fxFlex></span>
        <app-header></app-header>

    </mat-toolbar>
    <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0" [ngClass]="{'minisidebar': minisidebar}">
        <mat-sidenav #snav id="snav" class="pl-xs" [mode]="mobileQuery.matches ? 'side' : 'over'" fixedTopGap="0" [opened]="mobileQuery.matches" [disableClose]="mobileQuery.matches" (open)="sidebarOpened = true" (close)="sidebarOpened = false" [perfectScrollbar]="config">
            <app-sidebar></app-sidebar>
        </mat-sidenav>
        <mat-sidenav-content class="page-wrapper">
            <perfect-scrollbar [config]="config">
                <div class="page-content">
                    <router-outlet></router-outlet>
                </div>
            </perfect-scrollbar>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>